@import "tailwindcss";

@theme inline {
  --color-uno-primary: #5b171a;
  --color-uno-secondary: #1e1e1e;
  --font-montserrat: var(--font-montserrat);
}

@layer base {
  body {
    font-family: var(--font-montserrat);
  }
}
